<div class="my-login-page">
  <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-md-center h-100">
          <div class="card-wrapper">
            <div class="card fat">
              <div class="card-body">
                <h4 class="card-title">Login</h4>
                <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="email"><i class="fa fa-at"></i> E-Mail Address</label>
                    <input id="loginemail" type="email" formControlName="loginemail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.loginemail?.errors }" name="email" value="">
                    <div *ngIf="submitted && f.loginemail?.errors">
                        <div *ngIf="f.loginemail?.errors.required">Email is required</div>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="password"><i class="fa fa-key"></i> Password
                      <a href="#" class="float-right">
                        Forgot Password?
                      </a>
                    </label>
                    <input id="loginpassword" type="password" formControlName="loginpassword" class="form-control"[ngClass]="{ 'is-invalid': submitted && f.loginpassword?.errors }"  name="loginpassword">
                    <div *ngIf="submitted && f.loginpassword?.errors">
                      <div *ngIf="f.loginpassword?.errors.required">Paswword is required</div>
                      <div *ngIf="f.loginpassword?.errors.minlength">Minimum 6 Charctars required</div>
                      <div *ngIf="f.loginpassword?.errors.maxlength">Maximum 20 Characters required</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>
                      <input type="checkbox" name="remember"> Remember Me
                    </label>
                  </div>

                  <div class="form-group no-margin">
                    <button type="submit" class="btn btn-primary btn-block">
                      Login <i class="fa fa-sign-in"></i>
                    </button>
                  </div>
                  
                  <div class="margin-top20 text-center">
                    Don't have an account? <a routerLink="/register">Register Here</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
